<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <!--/************************************************
    * Name        : Community
    * Version     : 3.0
    * GitHub      : https://github.com/kensdy
    * Repository  : https://github.com/kensdy/Community-V3
  **************************************************/-->
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;"><h1>Community</h1></a>
    </div>
    <div class="posts-container">
        <h2>Posts</h2>
        <ul>
            {% for post in posts %}
                <li class="post">
                    <a href="{{ url_for('post', post_id=post['id']) }}">
                        {{ post['title'] }}
                    </a>
                    ({{ post['timestamp'] if post['timestamp'] is string else (post['timestamp'].strftime('%Y-%m-%d %H:%M:%S') if post['timestamp'] else '') }})
                    by {{ post['author'] }}
                </li>
            {% endfor %}
        </ul>
        <div class="create-post-link">
            <a href="{{ url_for('create_post') }}">Criar Novo Post</a>
        </div>
    </div>
</body>
</html>
